extends layout
block content
	div#container
		div.resultadoPesquisa
			h3 Oi, #{usuario}!
		- if (cache == '')
			div.resultadoPesquisa
				p Você ainda não fez nenhuma pesquisa.
				h5 
		- else
			div.resultadoPesquisa
				p Separamos pra você o seu histórico de pesquisas... Olha só:
			div#bordaTabela
				div#tabelaDetalhada
					table.table.table-striped
						thead
							tr
								th Estado
								th Campos pesquisados
								th Data
								th Tempo de Execução
								th Status
						tbody
							- var indice = 1
							each item in cache
								tr(id = 'linha' + indice)
									td #{item.uf}
									td #{item.keys}
									td.Data(id = 'data_' + indice) #{item._id}
									- if(item.status == 'EM ANDAMENTO')
										td - 
									- else
										td.Milis(id = 'mili_' + indice) #{item.mapreduceInformation.timeMillis}
									td #{item.status}
								- indice++