extends layout
block content
	script(src='/plugins/sortable.js')
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='/javascripts/searchCart.js')
	script(src='/javascripts/requestsServer.js')
	- var chave;
	div#container
		div.carrinhoPesquisas
			.ocultarCarrinhoPesquisas Carrinho de pesquisa
			.mostrarCarrinhoPesquisas
				form(method = 'post')
					table#tableCarrinhoDePesquisa
						thead
							th.capitalize(name='cabecalhoPesquisa') Seu carrinho está vazío
							th.capitalize(name='cabecalhoPesquisa') :)
						tbody
					a#finalizarCarrinho(href="javascript:retornaCarrinho('#{estado}', '#{campos}' );") Finalizar


		div#tabelaDetalhada
			h3 Resultados da pesquisa:
			.tableFilter
				p Que tal filtrar as informações desta página?
				form#frm-filtro(method='post')
					input#pesquisar(type='text', name='pesquisar', size='30')
			div#bordaTabela
				table.sortable#myTable.table.table-hover
					thead
						tr
							each campo in campos
								td
								th.capitalize #{campo}
							th.capitalize Quantidade 
								i#example.icon-info-sign(title='Esta quantidade refere-se ao total combinações encontradas de acordo com os campos selecionados.', data-toggle='tooltip')
							th ADD
							td
					tbody
						- var valor = []
						- var trID = 1
						each item in resultado
							- chave = item._id.key
							- for (var campo in campos)
								- for (var key in item._id)
									- if (campos[campo] == key)
										- valor[campo] = item._id[key]
										- break
									- if (campos[campo] != key)
										-valor[campo] = "-"
							tr
								each dado in valor
									td(id = 'linha_' + trID)
										input(type='hidden', name = 'linha_' + trID, id='#{dado}')
									td #{dado}

								td(id = 'linha_' + trID) #{item.value}
									input(type='hidden', name = 'linha_' + trID, id='#{item.value}')

								td
									input(type='image', src='/images/add.png', onclick="verificaItensSelecionados('#{trID}', '#{campos}', '#{estado}')")
							- trID++
		div.pages
			- var limite = paginaAtual + 5;
			- var paginaAnterior = paginaAtual - 1;
			- var proximaPagina = paginaAtual + 1;

			ul
				- if (paginaAtual != 0 & paginaAtual != qtddPaginas)
					li
						a(href='/mapreduceDetalhado/#{paginaAnterior}/#{chave}') « Página Anterior
					li.current #{paginaAtual}

					- while(proximaPagina <= limite & proximaPagina <= qtddPaginas)
						li 
							a(href='/mapreduceDetalhado/#{proximaPagina}/#{chave}') #{proximaPagina}
						- proximaPagina++;

				- if (paginaAtual == qtddPaginas & paginaAtual != 0)
						li
							a(href='/mapreduceDetalhado/#{paginaAnterior}/#{chave}') « Página Anterior
						li.current #{paginaAtual}

				-if (paginaAtual == 0)
					li.nolink « Página Anterior
					li.current #{paginaAtual}
					- while(proximaPagina <= limite & proximaPagina <= qtddPaginas)
						li 
							a(href='/mapreduceDetalhado/#{proximaPagina}/#{chave}') #{proximaPagina}
						- proximaPagina++;

				- if( ( ( qtddPaginas - (paginaAtual + 2) ) < 1 & qtddPaginas < limite) | ( paginaAtual == 0 & qtddPaginas < limite & qtddPaginas != 0) )
					li.nolink Próxima Página »

				-if (( paginaAtual == 0 & qtddPaginas > limite) | ((qtddPaginas - (paginaAtual + 2)) > 1 & qtddPaginas > limite) )
					li
						a(href='/mapreduceDetalhado/#{proximaPagina}/#{chave}') Próxima Página »